.chatBox{
	background-color: grey;
}

.chatBox input:disabled::-webkit-input-placeholder { /*webkit*/
  color: red;
  opacity: 1; /* Firefox */
  font-weight: bold;
}
.chatBox input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: red;
  opacity: 1; /* Firefox */
  font-weight: bold;
}
.chatBox input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: red;
  opacity: 1; /* Firefox */
  font-weight: bold;
}
.chatBox input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: red;
  opacity: 1; /* Firefox */
  font-weight: bold;
}